name: Build Pipeline

on:
  push:
    branches:
        - main
        - feature/**
  pull_request:
    branches:
        - main 

env:
  IMAGE_NAME: calc-app
  IMAGE_TAG: ${{ github.sha }}
  AWS_REGISTRY: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com
  AZURE_REGISTRY: calcappregistrytask12.azurecr.io/

jobs: 
  build:
    runs-on: ubuntu-latest

    steps:
        - name: Checkout code
          uses: actions/checkout@v4
        - name: Setup Python
          uses: actions/setup-python@v5
          with:
            python-version: "3.14"
        - name: Install Dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
    
  test:
    needs: build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.11, 3.12, 3.13]
    steps:  
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run Linter
        run: flake8 app
      - name: Run Tests
        run: |
          export PYTHONPATH=$PYTHONPATH:.
          pytest --junitxml=report.xml
      - name: Upload Test Report
        uses: actions/upload-artifact@v4
        with:
          name: test-report-${{ matrix.python-version }}
          path: report.xml
  docker:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with: 
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region ${{ secrets.AWS_REGION }} \
          | docker login --username AWS --password-stdin \
          ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com
      - name: Build Docker Image
        run: |
          docker build -t calc-app:${{ github.sha }} .
      - name: Scan Docker Image with Trivy
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: calc-app:${{ github.sha }}
          format: table
          exit-code: 1
          severity: CRITICAL
      - name: Tag Docker Image
        run: docker tag $IMAGE_NAME:$IMAGE_TAG $AWS_REGISTRY/$IMAGE_NAME:$IMAGE_TAG

      - name: Push Docker Image
        run: docker push $AWS_REGISTRY/$IMAGE_NAME:$IMAGE_TAG

      - name: Azure login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Login to azure ACR
        run: az acr login --name calcappregistrytask12
      
      - name:  Tag image for azure
        run: docker tag $IMAGE_NAME:$IMAGE_TAG $AZURE_REGISTRY/$IMAGE_NAME:$IMAGE_TAG
      - name: Push to Azure ACR
        run: docker push $AZURE_REGISTRY/$IMAGE_NAME:$IMAGE_TAG